@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  /* For WebKit browsers (Chrome, Safari, Edge, Opera) */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

}

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge, Opera */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.badge-hover {
  transition: box-shadow 220ms cubic-bezier(.2, .8, .2, 1), transform 200ms ease;
  will-change: box-shadow, transform;
}

.badge-hover:hover {
  box-shadow: 0 8px 20px 0 var(--hover-color);
  transform: translateY(-2px);
}